.header {
  width: calc(100% - 70*2px);
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-direction: row;
  height: 74px;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.burger-menu__logo {
  margin-top: 18px;
  width: 38px;
  height: 38px;
}

.burger-menu__image {
  width: 44px;
  height: 44px;
  margin-top: 15px;
  background-image: url('../../images/menu-burger.svg');
  border: none;
  background-color: #202020;
  z-index: 3;
  position: absolute;
  right: 0;
}

.burger-menu__container {
  display: none;
  position: relative;
  box-sizing: border-box;
}

.burger-menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  z-index: 1;
  background: #202020;
  position: absolute;
  right: -30px;
  top: 0;
  min-height: 100vh;
  width: 520px;
}

.burger-menu__link {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-top: 28px;
}

.burger-menu__link:first-child {
  margin-top: 159px;
}

.burger-menu__logo-profile {
  width: 100px;
  height: 32px;
  background: url('../../images/profile-header.svg');
  margin-top: 621px;
}

.burger-menu__container_visible {
  display: flex;
}

.header-menu__logo {
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo-header.svg');
  border: none;
}

.burger-menu__logo {
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo-header.svg');
  border: none;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.header__link {
  text-decoration: none;
  margin: 0;
  color: #FFF;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__links-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.header__link-reg {
  text-decoration: none;
  margin: 0;
  color: #FFF;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__link-in {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background: #3DDC84;
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__logo-profile {
  width: 100px;
  height: 32px;
  background: url('../../images/profile-header.svg');
  border: none;
}

.header__logo-profile:hover {
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .header {
    width: calc(100% - 30*2px);
  }

  .burger-menu {
    display: flex;
  }

  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .header {
    width: calc(100% - 14*2px);
  }
  .burger-menu{
    width: 100%;
  }
  .burger-menu__container {
    width: 100%;
  }
  .burger-menu__links{
    right: 0;
    width: 100%;
  }
}